.button:hover{
    box-shadow: 0 3px 4px 0 #6c84c8, 0 4px 10px 0 #c0ccee;
}

.buttonDiv{
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 3%;
    
}

.inputFieldContainer{
    text-align: center;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;

}

.inputField{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 80%;
    outline: none;
    margin-bottom: 5%;
}

.logInContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*new */
    background-color: var(--White-Background);
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative; 
    overflow: hidden;
    width: 60%;
    max-width: 80%;
    min-height: 480px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 25%;
    margin-bottom: 5%;    
}

.logInHeader{
    color: var(--Header-Color);
    font-size: 1.5vw;
    padding-top: 0;
    margin-top: 0px;
}

.buttonDiv{
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 2%;
    
}

.formContainer{
    text-align: center;
    width: 75%;
    /*position: absolute;*/ 
    top: 0; 
    height: 100%;
    transition: all 0.6s ease-in-out;
    
}