.classContainer {
    display: flex;
}


.gameOverview ul {
    list-style: none;
    list-style-position: inside; /*Bullet points følger teksten*/
    
}

.leftSideContainer {
    width: 15%;
    height: auto;
    text-align: left;
}

.rightSideContainer {
    width: 15%;
    height: auto;
    text-align: right;
}

.middleContainer {
    text-align: center;
    width: 70%;
    height: auto;
}

.title {
    font-size: 3vw;
    background-image: linear-gradient(to left, var(--Header-Color), #a5b2ff);
    color: transparent;
    background-clip: text;
}

.homeInputField{
    background-color: var(--InputField-Color-Hjem);
    border: none;
    /*margin: 8px 0;*/
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 50%;
    outline: none;
    /*margin-bottom: 5%;*/
}

h4 {
    color: var(--Header-Color);
    font-size: 1.5vw;
}

#search {
    width: 250px;
    height: 35px;
    font-size: small;
}

#choiceBox {
    width: 250px;
    height: 35px;
    font-size: small;
}

.searchBar{
    margin-top: 1px;
}

.filter{
    margin-top: 1px;
    margin-bottom: 0%;
}

.gameOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameGrid {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    background-color: var(--Body-Color);
}

.gameSquare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--Header-Color);
    font-size: 25px;
    font-family: Tahoma, sans-serif;

    background-color: var(--White-Background);
    border: 2px solid var(--Header-Color); 
    border-radius: 30px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); 
    width: 400px;
    height: 100px;
    margin-top: 10px;
    padding: 10px;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.gameSquare-p-content {
    display: flex;
    flex-direction: row;
}

.gameSquare p {
    text-decoration: none;
    color: #5578d6;
    font-size: 14px;
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 0px;
}

.gameSquare:hover {
    background-color:rgb(250, 250, 250);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);


    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
}

