.spinTheWheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.spinTheWheelMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.wheel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameOverviewGrid .selected {
    background-color: #cedbff;
}