.spinTheWheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.spinTheWheelMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}